# This is a configuration example. Copy this file to local_settings.py and
# customize it to fit your needs.  You can also override any variable from
# settings.py.

from settings import *

# Network to be scanned for FTP servers
NETWORK = '10.0.0.0/24'

# FTP username
USER = 'john'

# FTP password
PASSWD = 'secret'

# Database configuration
BACKEND = {
    'NAME': 'sqlite',
    'SCAN_DB': '/var/local/porygon/scan.db',
    'INDEX_DB': '/var/local/porygon/index.db',
}

# Logging configuration
LOGGING = {
        'version': 1,
        'disable_existing_loggers': False,
        'formatters': {
            'simple': {
                'format': '%(asctime)s:%(name)s:%(levelname)s:%(message)s'
            }
        },
        'handlers': {
            'console': {
                'class': 'logging.StreamHandler',
                'level': 'DEBUG',
                'formatter': 'simple',
                'stream': 'ext://sys.stdout',
            },
            'file': {
                'class': 'logging.FileHandler',
                'level': 'INFO',
                'formatter': 'simple',
                'filename': '/var/local/porygon/porygon.log',
            },
        },
        'root': {
            'level': 'DEBUG',
            'handlers': ['console', 'file'],
        },
    }
