# This is configuration example. Copy this file to local_settings.py and
# customize it to your needs.

# Index directory
INDEX_DIR = '/var/local/porygon/index'

# FTP SQLite database
FTP_DB = '/var/local/porygon/ftp.db'

# Network to be scanned
NETWORK = '10.0.0.0/24'

# FTP credentials
FTP_USER = 'rez'
FTP_PASSWD = '35zero'

# Logging configuration
def _logging_conf(filename):
    return {
        'version': 1,
        'formatters': {
            'simple': {
                'format': '%(asctime)s:%(name)s:%(levelname)s:%(message)s'
            }
        },
        'handlers': {
            'console': {
                'class': 'logging.StreamHandler',
                'level': 'DEBUG',
                'formatter': 'simple',
                'stream': 'ext://sys.stdout',
            },
            'file': {
                'class': 'logging.FileHandler',
                'level': 'INFO',
                'formatter': 'simple',
                'filename': '/var/local/porygon/{}.log'.format(filename),
            },
        },
        'root': {
            'level': 'DEBUG',
            'handlers': ['console', 'file'],
        },
    }
SCAN_LOGGING = _logging_conf('scanner')
INDEX_LOGGING = _logging_conf('indexer')
