# This is configuration example. Copy this file to local_settings.py and
# customize it to your needs.

# Index directory
INDEX_DIR = '/var/local/porygon/index'

# Maximum number of hits to return in a search
HIT_LIMIT = 200

# Network to be scanned
NETWORK = '10.0.0.0/24'

# FTP credentials
FTP_USER = 'rez'
FTP_PASSWD = '35zero'
