* {
    margin: 0;
    padding: 0;
}

body {
    font-family: helvetica, sans;
    text-align: center;
}

#all {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7em;
    min-width: 25em;
}

#all.hit_page {
    margin-top: 1em;
}

div#logo {
    margin-left: auto;
    margin-right: auto;
    width: 15.765659983266705em;
    height: 7em;
    background: url(img/logo.svg) no-repeat;
    background-size: contain;
}

#content {
    clear: both;
    background: #E0F0FF;
    border: solid 1px #99A;
    border-radius: 1em;
    text-align: left;
    padding: .4em 1.3em 1em 1.3em;
    box-shadow: 2px 2px 9px #AAA;
}

footer {
    margin: 3em auto 0 auto;
    padding-top: .5em;
    padding-bottom: 1em;
    width: 20em;
    color: #555;
    font-size: .8em;
    border-top: 1px solid #CCC;
}

p {
    font-size: .9em;
}

a {
    text-decoration: none;
    color: #46C;
}

div#ftp_list {
    max-width: 10em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.box_title {
    font-size: .9em;
    font-weight: bold;
    background: #AEE;
    border-radius: .7em .7em 0em 0em;
    padding: .22em 0em;
}

div.box_content {
    border: solid .1em #AEE;
    border-radius: 0em 0em .7em .7em;
    box-shadow: 0em .1em .3em rgba(0, 0, 0, 0.2) inset
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0em;
    margin: .5em .5em;
}

a:hover {
    color: #008;
    text-decoration: underline;
}

table {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#hits {
    padding: 1em;
}

td {
    padding: .1em .5em;
    font-size: .9em;
}

td.path, td.name {
    word-wrap: break-word;
}

td.path {
    font-weight: bold;
    font-size: .8em;
    font-family: sans, helvetica;
}

td.path a {
    color: #666;
}

td.name {
    font-weight: bold;
    color: #48E;
}

td.host {
    font-size: .9em;
    color: #AAA;
}

td.size {
    text-align: center;
    font-weight: bold;
    font-size: .8em;
    color: #666;
}

form table {
    border-spacing: .7em;
    text-align: center;
}

form td {
    padding: .4em 0;
}

input[type="text"] {
    color: #444;
    border: solid 1px rgba(82, 168, 236, 0.8);
    border-radius: 4px;
    height: 1.9em;
    font-size: 1.2em;
    width: 30em;
    padding: .0em .5em;
    box-shadow: 0 4px 1em rgba(0, 0, 0, 0.08) inset;
}

input[type="submit"] {
    color: #333;
    font-size: .9em;
    font-weight: bold;
    height: 2em;
    background: #DDD;
    border: solid 1px #AAA;
    border-radius: .5em;
    margin-right: .7em;
    min-width: 6em;
    margin-bottom: 1.2em;
}

input[type="submit"]:hover {
    transition-duration: .2s;
    transition-property: background;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
    background: #EEE;
}

input[type="submit"].hit_page {
    height: 2.7em;
    padding: 0 .7em;
    min-width: 0px;
    margin-bottom: 0em;
}

input:focus {
    transition-duration: .2s;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0, 0, 1, 1), cubic-bezier(0, 0, 1, 1);
    box-shadow: 0 4px 1em rgba(0, 0, 0, 0.08) inset,
    0 0 .4em 0 rgba(82, 168, 236, 0.6);
}

