{% extends "base.html" %}
{% block content %}
{% if servers %}
<table class="server_list">
  <tr>
    <th>serveur</th>
    <th>dernière indexation</th>
    <th>fichiers</th>
    <th>taille</th>
  </tr>
  {% for server in servers %}
  <tr>
    <td class="host"><a href="{{ server.url }}">{{ server.name }}</a></td>
    <td class="last_indexed">{{ server.last_indexed|default('-', true) }}</td>
    <td class="file_count">{{ server.file_count|default('-', true) }}</td>
    <td class="size">{{ server.size|default('-', true) }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>
  aucun serveur en ligne
</p>
{% endif %}
{% endblock %}
