{% extends "base.html" %}
{% block content %}
{% if hits %}
<table class="hit_list">
  <tr>
    <th>serveur</th>
    <th>chemin</th>
    <th>nom</th>
    <th>taille</th>
  </tr>
  {% for hit in hits %}
  <tr {% if not hit.host.online %}class="offline"{% endif %}>
    <td class="host">{{ hit.host.name }}</td>
    <td class="path"><a href="{{ hit.dir_url }}">{{ hit.path }}/</a></td>
    <td class="name"><a href="{{ hit.url }}">{{ hit.name }}</a></td>
    <td class="size">{{ hit.size }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>
  aucun résultat
</p>
{% endif %}
{% endblock %}
